:root{
  --custom-border-color:linear-gradient(45deg, rgba(224,116,32,1) 0%, rgba(9,32,121,1) 55%, rgba(255,0,9,1) 100%);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* for the body  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
div {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



/* for the google image */

.google_img {
  height: 24px;
  width: 74px;
  display: inline-block;
  vertical-align: middle;
}

/* for the search bar */
/* .navbar {
  background-color: #333;
  padding: 15px;
  text-align: center;
} */

.search-container {
  display: inline-block;
  vertical-align: middle;
}

input[type=text] {
  /* padding: 8px; */
  /* margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px; */
  /* width: 564px;
  height: 46px; */
  font-size: 16px;
  border: none;
  /* border-radius: 4px; */
  color: white;
}

.icon_holder{
  display: inline-block;
  vertical-align: middle;
  color: red; 
}

.search-container{
  display: flex;
}

.searchbar_contents{
  width: 690px;
  height: 46px;
  padding-left: 30px;
  padding-right: 20px;
  border: 1px solid black;
  background-color: #3C4043;
  border-radius: 10px;
}

/* navbarHead is the parent div  */
.navbarHead{
  background-color: #202124;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 8px;
}

.search_input{
  width: 564px;
  height: 46px;
  background-color: #3C4043;
  
}
.search_input:focus{
  outline: none;
}

.searchbar_contents i{
  width: 24px;
  height: 24px;
} 

.searchbar_contents{
  margin-right: 30px;
}

.outside {
 margin: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.outside i {
  padding: 12px;
}

.rightside_nav{
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightside_nav img{
  margin: 10px;
  margin-left: 30px;
  border-radius: 50%;
  border: 1px solid rgb(219, 71, 71);
}

.image-container{
  background-color: #ff0000; /* Set the background color to red (change as needed) */
     
}

.image-container img {
  display: block; /* Ensure the image takes up the available width */
  margin: 0 auto; /* Center the image horizontally */
}

.google_img_news{
  margin-left: 12px;
}

.google_img_news span{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

i:hover,img:hover{
  cursor:pointer;
}