html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
 
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.tweet_parent{
  width: 100%;
}

.img_profile{
  display: flex;
  flex-direction: row;
  
}
p{
  margin: 0;
  margin-top: 2px;
}
.profile_intro{
  /* padding-bottom: 2px; */
  margin-left: 12px;
  /* whole element outside space changes position with margin  */
}

.header{
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 48px;
  border-radius: 999px;
}

.icon img{
  width: 16px;
  color: #536471;
}

.tweet{
  
  border: 1px solid #cfd9de;
  border-radius: 16px;
  padding: 12px;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
   
}

.tweet_parent{
  display: flex;
  
}

.name{
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.metadata{
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
}

.message{
  font-family: sans-serif;
  font-size: 15px;
  color: #0f1419;
  /* padding-left: 60px ; */
  margin-left: 12px;
}

.actionsRow{
  max-width: 425px;
  display: flex;
  padding-left: 60px ;
  justify-content: space-between;
  margin-top: 12px ;

}

.actionCount{
  color: #536471;
  font-size: 13px;
  padding-left: 12px;
}

/* .name , .metadata{
  padding-left: 12px;
} */

