body{
  background-color: #181818;
}

.navcustom{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.customdivider{
  height: 3rem;
  background-color: #181818;
}

.customfootercolor{
  background-color: #181818;
  color: #fff;
}

.custom-ul li{
  color: #fff;
}
.carousel-inner img{
  vertical-align: top
}

.ResponsiveVideo{
  width: 100%;
  
}

.ExploreClubs_content{
  display: inline-block;
  justify-content: center;
  flex-direction: column;
}
.card-container{
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  flex-direction: row;
}
.card-bg{
  background-color: #181818;
  color: #fff;
  width: 255px;
  margin: 1rem auto;
}

.custom-img-size{
  width: 250px;
  height: 200px;
  
}

.col-card-ultra{
  height: 380px;
 
}

.col-card-elite{
  height: 340px;
}
.col-card-pro{
  height: 300px;
}